<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyPassword.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38660F851CF298ED00D6545C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38660F9E1CF298ED00D6545C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38660FA91CF298ED00D6545C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
